
body {
    background: radial-gradient(rgb(248, 241, 241) 35%, rgb(235, 241, 102) 100%);
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-size: 4rem;    
    padding-left: 50px;
    margin-top: 50px;
}

h2 {
    font-size: 6rem;
    font:300;
    margin-left: 50px;
    margin-top: 50px;    
}

.row {
    display:flex;
    padding: 20px 20px;
}
.left-col {
    flex: 60%;
}

.right-col {
    align-content: flex-start ;
    flex: 60%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    width: 300px;
    height: 80px;
    text-align: center;
    text-decoration: none;
    background-color: red;
    border-radius: 50px;
    font-size: 2rem;
    font: 200;
    color: white;
    outline: none;
}